<!DOCTYPE html>
<html>
<head>
  <title>Detalles del Carrito</title>
</head>
<body>
  <h1>Detalles del Carrito</h1>
  <ul>
    {{#each cart.items}}
      <li>{{this.name}} - {{this.price}}</li>
    {{/each}}
  </ul>
</body>
</html>