<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Detalles del carrito</title>
</head>
<body>
  <h1>Detalles del carrito</h1>
  <h2>Carrito ID: <%= cartId %></h2>
  <h3>Productos en el carrito:</h3>
  <ul>
    <% products.forEach(function(product) { %>
      <li><%= product.name %> - $<%= product.price %></li>
    <% }); %>
  </ul>
</body>
</html>