<!DOCTYPE html>
<html>
<head>
  <title>Productos</title>
</head>
<body>
  <h1>Productos</h1>
  <ul>
    <% productos.forEach(function(producto) { %>
      <li><a href="/products/<%= producto._id %>"><%= producto.name %></a></li>
    <% }) %>
  </ul>
</body>
</html>