<!DOCTYPE html>
<html>
<head>
  <title>Detalles del Producto</title>
</head>
<body>
  <h1>Detalles del Producto</h1>
  <p>Nombre: {{product.name}}</p>
  <p>Precio: {{product.price}}</p>
  <p>Categoría: {{product.category}}</p>
</body>
</html>