<!DOCTYPE html>
<html>
<head>
  <title>Productos</title>
</head>
<body>
  <h1>Productos</h1>
  {{#each productos}}
    <div>
      <h2>{{name}}</h2>
      <p>Precio: {{price}}</p>
      <p>{{description}}</p>
    </div>
  {{/each}}
</body>
</html>
